{% extends 'biom/_partials/main.html' %}



{% block content %}






<div class="jumbotron" id="main-jumbotron">
    <div class="container px-2">
        <h1 class="display-5">Microbiome Visualizer v 1.0</h1>
        <p class="lead">Microbiome Visualizer is an interactive web application that allows producing charts from
                Operational Taxonomic Unit (OTU) tables. Its current version is optimized for Greengenes taxonomy. 
        </p>
    </div> 
</div>


<div class="container my-5">

    <form id="form" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="input_file">Select your OTU table
                <a id="biom-gen-link" class="modal-trigger" href="#" data-toggle="modal" data-target="#biom-generation">
                    <i class="fas fa-question-circle" title="More about file specifications"></i></a>
            </label>
            <input id="input_file" type="file" name="input_file" class="form-control" />
        </div>


        <div>
            <ul id="messages">

            </ul>
        </div>



        <div class="form-group">
            <input id="upload-button" class="btn" type="submit" value="Upload File">
        </div>

    </form>

    <div id="spinner"><img src="../../static/img/loader.gif" alt=""></div>
</div>




<div id="main-element" class="container bg-white px-2 pb-2" style="display: none;">

    <nav>
        <div class="nav nav-tabs" id="nav-main" role="tablist">
            <a class="nav-item nav-link active" id="nav-single-sample-tab" data-toggle="tab" href="#nav-single-sample"
                role="tab" aria-controls="nav-single-sample" aria-selected="true">Plot Single Sample</a>

            <a class="nav-item nav-link" id="nav-compare-samples-tab" data-toggle="tab" href="#nav-compare-samples"
                role="tab" aria-controls="nav-compare-samples" aria-selected="false">Compare Samples</a>

            <a class="nav-item nav-link" id="nav-predict-ibd-tab" data-toggle="tab" href="#nav-predict-ibd" role="tab"
                aria-controls="nav-predict-ibd" aria-selected="false">Predict IBD</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active pt-5" id="nav-single-sample" role="tabpanel"
            aria-labelledby="nav-single-sample-tab">
            {% include "biom/_partials/_oneSamplePlotting.html" %}
        </div>


        <div class="tab-pane fade pt-5" id="nav-compare-samples" role="tabpanel" aria-labelledby="nav-compare-samples-tab">


            {% include "biom/_partials/_multipleSamplesPlotting.html" %}

        </div>


        <div class="tab-pane fade" id="nav-predict-ibd" role="tabpanel" aria-labelledby="nav-predict-ibd-tab">

            {% include "biom/_partials/_ibdPrediction.html" %}
        </div>

    </div>



</div>






{% endblock %}