@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  letter-spacing: 1px;
  overflow-x: hidden; 
}

body {
  width: 100vw !important;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  padding:0;  
}


body{
  position: relative;
  margin-bottom: 2rem;
}

body::after {
  content: "";
  background-image: url('../img/biom_project.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


/* Navbar */
.jumbotron {  
  background-color: #c0392b; 
  color: #fff;
}

.jumbotron#main-jumbotron{
  margin-top: 20vh;
}

.jumbotron a,
.jumbotron a:hover{
  color: #fff;
  text-decoration: none;
}

.jumbotron a:hover{
  font-weight: bold;
}

/* Format message list */
#messages {
  list-style: none;
}

/* Upload Button */
#upload-button {
  background-color:  #c0392b;
  color: #fff !important;
}



/* Nav */
#nav-main a {
  color: #c0392b;
}

.nav-tabs, .nav-item {
  border-color: #c0392b !important;
}

a.nav-item.nav-link.active {
  background-color:  #c0392b;
  color: #fff !important;
}


/* Color for the tree of taxa */
.tax-selected {
  color: #c0392b
}


/* Breadcrumbs */

.breadcrumbs-container ol {
  background-color: #fff !important;
}

.breadcrumb {
  /* color:#fff !important; */
  color:#c0392b;
}

.breadcrumb a,
.breadcrumb a:hover{
  color:#c0392b;
  /* color:#fff !important; */
}


#list-samples-multiple-selection {
  /* background-color: #c0392b; */
  color: #c0392b;
  padding: 1rem 0rem 1rem 1rem;
  /* border-radius: 10px; */
  border: 1px #c0392b solid;  
  overflow-y: hidden;
  max-height: 10rem;
}

#list-samples-multiple-selection:hover {
  overflow-y: auto;
}

.modal-trigger,
.modal-trigger:hover {
  text-decoration: none;
  color: #c0392b;
}

#modal a {
  text-decoration: none;
  color: #c0392b;
}

.command{
  display: block;
  background-color: rgba(169, 169, 169,.5);
  padding: 0.5rem;
  border-radius: 5%;
}


.progress-container {
 position:relative;
 margin-bottom: 1rem;
  
}

.progress-container::before {
  content: "Non IBD";
  color: #fff;
  top: -1.5rem;
  left:0rem;
  position: absolute;  
  font-size: 0.7rem;
  padding: 0.1rem;
  border: #5cb85c solid 1px;
  border-radius: 10%;
  background-color: #5cb85c;
  
}

.progress-container::after {
  content: "IBD";
  color: #fff;
  top: -1.5rem;
  right:0rem;
  position: absolute;  
  font-size: 0.7rem;
  padding: 0.1rem;
  border: #d9534f solid 1px;
  border-radius: 10%;
  background-color: #d9534f;
}














/* / Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    html {
      font-size: 1rem;
    }
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
  html {
    font-size: 1.2rem;
  }

} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    html {
      font-size: 1.4rem;
    }
 } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
  html {
    font-size: 1.4rem;
  }
} */