<div class="row">
  <div class="col-md-4">
    <!-- <div class="row" style="max-height: 500px !important;">  -->

    <!-- <div class="col-md-12" id="multiple-samples-list" style="overflow-y: auto;
        max-height: 200px !important;">
      <p></p>
    </div> -->

    <div class="col-md-12" id="multiple-samples-list">
      <p>Please Load a valid OTU table.</p>
    </div>


    <div class="col-md-12 mt-4">

      <div class="row" id="multiple-samples-taxonomy">


      </div>
    </div>
    <!-- </div> -->

  </div>


  <div class="col-md-8" id="multiple-samples-plot">

  </div>


</div>