<div class="row">
  <div class="col-md-4">
      <!-- <div class="row" style="max-height: 500px !important;">  -->
        <h5>Select Samples</h5>
        <div class="col-md-12" id="multiple-samples-list" style="overflow-y: auto;
        max-height: 200px !important;">
          list of samples
        </div>
        <hr>

        <div class="col-md-12">
            <h5>Taxonomy</h5>
            <div class="row" id="multiple-samples-taxonomy">

            list of samples
          </div>
        </div>            
    <!-- </div> -->

  </div>
   

  <div class="col-md-8" id="multiple-samples-plot">
    
  </div>


</div>






