<div class="container">
    <div class="row">

        <div id="samples-drop-down" class="form-group col-sm-12 container">
            <p>Please Load a valid OTU table.</p>
        </div>

    </div>

    <div class="container">
        <div class="row" id="taxonomy-drop-down"></div>
    </div>
</div>


<div class="row">
    <div class="container" id="taxonomy-breadcrumbs"></div>

</div>

<div class="row">
    <div class="col-md-8">

        <div id="chart-container">
            <canvas id="myChart" width="300px" height="300px" aria-label="Hello ARIA World" role="img"></canvas>
        </div>

    </div>

    <div class="col-md-4" id="additional_information">

    </div>

</div>