<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="../static/landing/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/landing/css/superslides.css">
  <link rel="stylesheet" href="../static/landing/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

  
  <link rel="stylesheet" href="../static/landing/css/main.css">
  <link rel="stylesheet" href="../static/landing/css/media.css">


  <title>{{ title }}</title>
</head>
 
<body id="top-page">

  <!-- Navbar -->
  <nav id="navigation" class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="#">Larbi Bedrani</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-4">
          <li class="nav-item active">
            <a class="nav-link" href="#about">About</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          
          <li class="nav-item">
            <a  class="nav-link" href="#projects">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#publications">Publications</a>
          </li>  
          

        </ul>
  
        <ul class="navbar-nav ml-auto mr-5 icons-nav">
          <li class="nav-item">
            <a class="nav-link icon external-link" href="mailto:larbi.bedrani@gmail.com"
              title="larbi.bedrani@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon external-link" href="https://www.linkedin.com/in/larbibedrani/" title="linkedin"
              target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon external-link" href="https://github.com/rostomides" title="github"><i
                class="fab fa-github-square"></i></a>
          </li>
        </ul>    
        
      </div>
      
    </nav>
    <!-- End Navbar --> 
  


  <!-- Header -->

  <head class="section">
    <div id="slides">
      <div class="overlay"></div>
      <div class="slides-container">
        <img src="../static/landing/img/slide1.jpg" alt="">
        <img src="../static/landing/img/slide2.jpg" alt="">
        <img src="../static/landing/img/slide3.jpg" alt="">
      </div>
      <div class="main-title">
        <div class="heading">
          <p class="main-heading">LARBI BEDRANI</p>
          <p class="sub-heading"></p>
        </div>

        <div class="contacts">
          <a href="mailto:larbi.bedrani@gmail.com" title="larbi.bedrani@gmail.com"><i
              class="fas fa-envelope-square"></i></a>

          <a href="https://www.linkedin.com/in/larbibedrani/" title="linkedin" target="_blank"><i
              class="fab fa-linkedin"></i></a>

          <a href="https://github.com/rostomides" title="github"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
      <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
      </nav>
    </div>
  </head>
  <!-- End Header -->



  

  <!-- About Section -->
  <section id="about" class="section">
    <div class="about-container">
      <!-- <div id="wrapper-about"></div> -->

      <div class="about-image">
        
      </div>


      <div class="about-description">
        <h2>Hi, My name is Larbi Bedrani</h2>

        <p>I am an enthusiastic researcher, bioinformatician and data scientist who through his career enjoyed solving problems related to the healthcare system, human disease, livestock breeding and pathology and food microbiology both in business and academic environments. Rich of this variety of experiences, I learned how to approach my fields of expertise "the classical way" and also by thinking outside the box always striving to innovate. Passionate, curious, focused and dedicated are words that qualify me the best. The most valuable lesson I learned from life: "don't focus too much on the destination, focus more on finding the best way to reach it and of course enjoy the journey!".</span></p>

        

      </div>
    </div>
  </section>
  <!-- End About Section -->



  <!-- Section Experience -->
  <section id="experience" class="skill-section section">
    <div class="row ">
      <div class="col-md-12 text-center section-heading">
        <h2>WORK EXPERIENCE</h2>
        <p>Past and Current positions ...</p>
      </div>
    </div>
    <div class="container">

      <div class="timeline">
        <ul>
          <li class="date work" data-date="2018 - present">
            <h1>Self Employed, Canada</h1>
            <h5>Independant consultant</h5> 
            <p>Currently providing services in bioinformatics and data science.</p>
          </li>

          <li class="date work" data-date="2016 - 2019">
            <h1>University of Toronto, Canada</h1>
            <h5>Postdoctoral Fellow</h5> <p>Studied the genetic and microbial factors that triggers Crohn's disease in healthy people.</p>
          </li>

          <li class="date work" data-date="2015">
            <h1>University of Montreal, Canada</h1>
            <h5>Bioinformatician</h5> <p>Contributed to unveiling the microbial changes that precede the Cyanobacterial bloom in lake Champlain (Quebec) using machine learning modeling.</p>
          </li>

          <li class="date work" data-date="2014">
            <h1>University Ibn Khaldoun, Algeria</h1>
            <h5>Assistant Professor</h5> <p>Delivered lectures on the subjects of Zoonoses and Food Microbiology.</p>
          </li>

          <li class="date work" data-date="2009 - 2013">
            <h1>University François Rabelais, France</h1>
            <h5>PhD Researcher</h5> <p>Studied the impact of the microbial environment of the laying hen on the molecular defenses of the egg.</p>
          </li>
        </ul>
      </div>

    </div>
  </section>
  <!-- End Section experience -->



  <!-- Skills Section -->
  <section id="skills" class="skills section">
    <div class="row ">
      <div class="col-md-12 text-center section-heading">
        <h2>AREAS OF EXPERTISE AND SKILLS</h2>
        <p>What I can actually do ...</p>
      </div>
    </div>
    <div class="container">
      <div class="my-skills">



        <div class="flip-wrapper">
          <div class="flip-card">
            <div class="flip-card-inner">
              
              <div class="flip-card-front">
                  <div class="icon-container">
                      <i class="fas fa-microscope"></i>
                    </div>
                    <h2>Scientific Research</h2>
                    <p class="n-years">10 Years of Experience</p>
                    <p class="flip">Click to Know more ...</p>                    
                    
              </div>
              <div class="flip-card-back">
                <h2><i class="fas fa-microscope"></i> Scientific Research</h2> 
                <ul>
                  <li><i class="fas fa-check"></i> Gastroenterology</li>
                  <li><i class="fas fa-check"></i> Human Microbiome</li>
                  <li><i class="fas fa-check"></i> Food Microbiology</li>
                  <li><i class="fas fa-check"></i> Livestock Health and Pathology</li>
                </ul>
                <p class="flip"><i class="fas fa-sync"></i></p>  
              </div>
            </div>
          </div>
        </div>

        <div class="flip-wrapper">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="icon-container">
                  <i class="fas fa-dna"></i>
                </div>
                <h2>Bioinformatics</h2>
                <p class="n-years">5 Years of Experience</p>
                <p class="flip">Click to Know more ...</p>
                </div>
                <div class="flip-card-back">
                  <h2><i class="fas fa-dna"></i> Bioinformatics</h2>
                  <ul>
                    <li><i class="fas fa-check"></i> Microbiome Analysis (16S-Seq and Shotgun Metagenomics)</li>
                    <li><i class="fas fa-check"></i> Genome Wide Association Studies</li>
                    <li><i class="fas fa-check"></i> Biostatistics</li>
                    <li><i class="fas fa-check"></i> RNA Sequencing</li>
                  </ul>
                  <p class="flip"><i class="fas fa-sync"></i></p> 
                  
                </div>
              </div>
            </div>
        </div>


        <div class="flip-wrapper">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="icon-container">
                    <i class="fas fa-chart-area"></i>
                  </div>
                  <h2>Data Science</h2>
                  <p class="n-years">3 Years of Experience </p>
                  <p class="flip">Click to Know more ...</p>
                  </div>
                  <div class="flip-card-back">
                    <h2><i class="fas fa-chart-area"></i> Data Science</h2> 
                    <ul>                        
                        <li><i class="fas fa-check"></i> Data Cleaning and Feature Engineering</li>
                        <li><i class="fas fa-check"></i> Data Visualization</li>
                        <li><i class="fas fa-check"></i> Machine Learning (Scikit-learn, XGboost, Catboost)</li>
                        <li><i class="fas fa-check"></i> Deep Learning (Tensoflow, keras)</li> 
                        <li><i class="fas fa-check"></i> Familiarity with Natural Language Processing (NLTK)</li>                                          
                    </ul>
                    <p class="flip"><i class="fas fa-sync"></i></p> 
                    
                  </div>
                </div>
              </div>
          </div>

          <div class="flip-wrapper">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="icon-container">
                      <i class="fas fa-code"></i>
                  </div>
                  <h2>Programming</h2>
                  <p class="n-years">5 Years of Experience </p>
                  <p class="flip">Click to Know more ...</p>
                  </div>
                  <div class="flip-card-back">
                    <h2><i class="fas fa-code"></i> Programming</h2> 
                    <ul>                        
                        <li><i class="fas fa-check"></i> Python</li>
                        <li><i class="fas fa-check"></i> R</li>
                        <li><i class="fas fa-check"></i> Linux Bash</li>
                        <li><i class="fas fa-check"></i> HTML5</li> 
                        <li><i class="fas fa-check"></i> CSS3</li>
                        <li><i class="fas fa-check"></i> Javascript (JQuery)</li> 
                        <li><i class="fas fa-check"></i> PHP</li> 
                        <li><i class="fas fa-check"></i> Back-end Frameworks (Flask, Laravel)</li>
                    </ul>
                    <p class="flip"><i class="fas fa-sync"></i></p>                     
                  </div>
                </div>
              </div>
          </div>  
      </div>
    </div>
  </section>

  <!-- End Skills Section -->


  <!-- Section Current_projects -->
  <section id="projects" class="projects-section section">
    <div class="row ">
      <div class="col-md-12 text-center section-heading">
        <h2>My Projects</h2>
        <p>List of ongoing projects I am working on or already finished ...</p>
      </div>
    </div>
    <div class="container">

      <div class="row project-details">
          
          <div class="col-md-5 pt-3"> <img class="img-fluid img-project" src="../static/img/biom_project.png" alt=""></div>

          <div class="col-md-7">
            <p>
              <span class="project-title">Biom Visualizer </span>  is a web application that allows the user to interactively visualize Operational Taxonomic Units (OTUs) tables. It is optomized for GreenGenes taxonomy.
            </p>  
            <ul class="feature-list">              
              <li class="title">Current features</li> 

              <li><i class="fas fa-check"></i> Load OTU Tables</li>
              <li><i class="fas fa-check"></i> Visualize the different taxonomic levels of a single sample</li>
              <li><i class="fas fa-check"></i> Compare several samples at all available taxonomic levels</li> 

              <li class="title">Upcoming features</li>
              <li>
                Predict if the microbial profiles input by the user are similar to Inflammatory Bowel Diseases profiles. The predictive model is currently in development and uses the power of machine learning on publically available 16S sequencing datasets of human gut microbiome.
              </li>   
            </ul>

            <a href="{{url_for('biom_project')}}" class="link-project">Take me there ...</a>
            
          </div>

          
         


      </div>

      

    </div>
  </section>
  <!-- End Section experience -->























  <!-- Publications -->

  <section class="publications section" id="publications">
    <div class="row section-heading">

      <div class="col-md-12 text-center ">
        <h2>Scientific Production</h2>
        <p>My published work ...</p>


      </div calss="btn-pub">
      <a class="btn btn-publications" data-toggle="collapse" href="#collapsePublications" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Hide
      </a>

    </div>

    <div class="container">

      <div class="collapse show" id="collapsePublications">
        <div class="card card-body">

          <ul class="publication">
            <li>Turpin W., Espin-Garcia O., <span class="me">Bedrani L.</span> <i>et al.</i>, 2019. Analysis of Genetic Association of Intestinal Permeability in Healthy
              First-Degree Relatives of Patients with Crohn’s Disease. Inflamm Bowel Dis. Jun 28. pii: izz116.</li>
            <li>Robertson S.J., Lemire P., Maughan H., Goethel A., Turpin W., <span class="me">Bedrani L.</span>et <i>al</i>, 2019. Comparison of co-housing and littermate methods for
              microbiota standardization in mouse models. Mucosal Immunology. 27(6): 1910-1919.</li>
            <li>  <span class="me">MiBioGen
                Consortium Initiative</span>, 2018. A. Meta-analysis of
              human genome-microbiome association studies: the MiBioGen consortium initiative. Microbiome. 6(1):101.</li>
            <li><span class="me">Bedrani L.</span><i>et al.</i>, 2018. Microbiome in Crohn’s disease patients: a compilation of publicly available
              datasets. Journal of the Canadian Association of Gastroenterology. 1 (1):235. </li>
            <li>Turpin W., <span class="me">Bedrani L.</span> et <i>al</i>, 2018. FUT2 genotype and secretory status are not
              associated with fecal microbial composition and inferred function in healthy subjects. Gut Microbes.
              9(4):357-368.</li>
            <li>Turpin W. , <span class="me">Bedrani L.</span> <i>et al.</i>, 2018. Genome wide association study of abnormal intestinal
              permeability
              in healthy first degree relatives of Crohn’s patients. Journal of the Canadian Association of
              Gastroenterology. 1 (2): 59–60.</li>
            <li>Turpin W., Goethel A., <span class="me">Bedrani L.</span>, Croitoru Mdcm K., 2018. Determinants of IBD
              Heritability: Genes, Bugs, and More. Inflamm Bowel Dis. 24(6):1133-1148.</li>
            <li>Bermudez-Brito M., Galipeau H.J., Caminero Fernandez A., Turpin W., <span class="me">Bedrani
                L.</span> <i>et al.</i>, 2018. Characterizing Microbiota Composition and Function that Precede
              Development
              of Clinically Relevant Inflammation in UC Patients. Gastroenterology. 154 (6): S-864.</li>
            <li>Tromas N., Fortin N., <span class="me">Bedrani L.</span> <i>et al.</i>, 2017 Characterizing and predicting cyanobacterial blooms in an 8-year amplicon
              sequencing
              time-course. ISMEJ. doi: 10.1038/ismej.2017.58.
            </li>
            <li> <span class="me">Bedrani L.</span> <i>et al.</i>, 2013. Systemic administration of
              lipopolysaccharide in laying hens stimulates antimicrobial properties of egg white against
              Staphylococcus
              aureus. Veterinary Immunology & Immunopathology. 152(3-4):225-36.</li>
            <li><span class="me">Bedrani L.</span> <i>et al.</i>, 2013.
              Passive
              maternal exposure to environmental microbes selectively modulates the innate defenses of chicken egg
              white
              by increasing some of its antibacterial activities. BMC Microbiology. 13 (128).</li>
            <li>Loyau T., Berri C., <span class="me">Bedrani L.</span> <i>et al.</i>,
              2013. Thermal manipulation of the embryo modifies the physiology and body composition of broiler
              chickens
              reared in floor pens without affecting breast meat processing quality. Journal of Anim Science.
              91(8):3674-85.</li>              
          </ul>
          <div class="hide-publications">
              <a  data-toggle="collapse" href="#collapsePublications" role="button"
              aria-expanded="false" aria-controls="collapseExample" title="Collapse list"> <i class="fas fa-arrow-circle-up"></i></a>  
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- End Publications -->


  <!-- Footer -->
  <!-- Copyright Section -->
  <footer class="copyright-section">

    <div class="up" id="btn-top-page" href="#top-page">
      <i class="fas fa-chevron-up"></i>
    </div>


    <div class="col-md-12 text-center">
      <p>&copy; Copyright Larbi Bedrani <span id="year"></span></p>
      <div class="footer-contact">  
        <a href="mailto:larbi.bedrani@gmail.com" title="larbi.bedrani@gmail.com"><i
        class="fas fa-envelope-square"></i></a>

        <a href="https://www.linkedin.com/in/larbibedrani/" title="linkedin" target="_blank"><i
        class="fab fa-linkedin"></i></a>

        <a href="https://github.com/rostomides" title="github"><i class="fab fa-github-square"></i></a>
      </div>
    </div>

  </footer>
  <!-- End Footre -->





  <!-- Javascript -->
  <script src="../static/landing/js/jquery-3.4.1.min.js"></script>
  <script src="../static/landing/js/bootstrap.min.js"></script>
  <script src="../static/landing/js/jquery.superslides.min.js"></script>
  <script src="../static/landing/js/typed.min.js"></script>
  <script src="../static/landing/js/owl.carousel.min.js"></script>
  <script src="../static/landing/js/countUp.js"></script>
  <script src="../static/landing/js/countUp-jquery.js"></script>
  <script src="../static/landing/js/main.js"></script>

</body>

</html>